<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<table>
	<tr>
		<td>
			<div class="rock" id="choice 1"></div>
		</td>	
		<td>
			<div class="paper" id="choice 2"></div>
		</td>
		<td>
			<div class="scissors" id="choice 3"></div>
		</td>
	</tr>
  </table>